<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbc1e0">  <td>19/08/04 16:15:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginAPITest.setup()[pri:0, instance:com.test.LoginAPITest@4cc0edeb]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1508646930</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>19/08/04 16:15:46</td>   <td>549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginAPITest.loginTest()[pri:0, instance:com.test.LoginAPITest@4cc0edeb]">loginTest</td> 
  <td>main@1508646930</td>   <td></td> </tr>
</table>
